## Analysis of Post-University Salaries of Graduates by Major.

College degrees are very expensive. What does it mean to spend huge amount of money on a degree that is less demanded in the labour market? Choosing Philosophy or International Relations as a major may have worried your parents, but does the data back up their fears? PayScale Inc. did a year-long survey of 1.2 million Americans with only a bachelor's degree. We'll be digging into this data and use Pandas to answer these questions:

* Which degrees have the highest starting salaries? 

* Which majors have the lowest earnings after college?

* Which degrees have the highest earning potential?

* What are the lowest risk college majors from an earnings standpoint?

* Do business, STEM (Science, Technology, Engineering, Mathematics) or HASS (Humanities, Arts, Social Science) degrees earn more on average?

In [64]:
import numpy as np
import pandas as pd

In [65]:
data = pd.read_csv('sample_data/salaries_by_college_major (1).csv')

In [66]:
# view the top 5 rows of the data
data.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,"46,000.00","77,100.00","42,200.00","152,000.00",Business
1,Aerospace Engineering,"57,700.00","101,000.00","64,300.00","161,000.00",STEM
2,Agriculture,"42,600.00","71,900.00","36,300.00","150,000.00",Business
3,Anthropology,"36,800.00","61,500.00","33,800.00","138,000.00",HASS
4,Architecture,"41,600.00","76,800.00","50,600.00","136,000.00",Business

### Preliminary Data Exploration and Data Cleaning with Pandas

The folowing questions are to be answered:

* How many rows does our dataframe have? 

* How many columns does it have?

* What are the labels for the columns? Do the columns have names?

In [67]:
# how many rows does the dataframe have?
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Undergraduate Major                51 non-null     object
 1   Starting Median Salary             50 non-null     float64
 2   Mid-Career Median Salary           50 non-null     float64
 3   Mid-Career 10th Percentile Salary  50 non-null     float64
 4   Mid-Career 90th Percentile Salary  50 non-null     float64
 5   Group                              50 non-null     object
dtypes: float64(4), object(2)
memory usage: 2.5+ KB

There are 50 rows and 6 columns.

In [68]:
#  what are the labels for the columns
data.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

The columns have names.

In [69]:
# is there missing values in the columns?
data.isna().any()

Undergraduate Major                  False
Starting Median Salary                True
Mid-Career Median Salary              True
Mid-Career 10th Percentile Salary     True
Mid-Career 90th Percentile Salary     True
Group                                 True
dtype: bool

Only the `Undergraduate Major` column does not have a missing value.

In [70]:
# obtain the rows with missing values in any of its column
data[data.isna().values.any(axis=1)]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [71]:
# since row 50 has missing values, we will remove it from the data
data.dropna(inplace=True)

In [72]:
# check for the missing values again
data.isna().any()

Undergraduate Major                  False
Starting Median Salary               False
Mid-Career Median Salary             False
Mid-Career 10th Percentile Salary    False
Mid-Career 90th Percentile Salary    False
Group                                False
dtype: bool

### What is the highest and lowest mid-career earning degree?

In [73]:
# Obtain the row at the index of the maximum Mid-Career Median Salary
data.loc[data['Starting Median Salary'].idxmax()]

Undergraduate Major                  Physician Assistant
Starting Median Salary                         74,300.00
Mid-Career Median Salary                       91,700.00
Mid-Career 10th Percentile Salary              66,400.00
Mid-Career 90th Percentile Salary             124,000.00
Group                                               STEM
Name: 43, dtype: object

**Physician Assistant** has highest mid-career earning

In [74]:
# Obtain the row at the index of the minimum Mid-Career Median Salary
data.loc[data['Starting Median Salary'].idxmin()]

Undergraduate Major                   Spanish
Starting Median Salary              34,000.00
Mid-Career Median Salary            53,100.00
Mid-Career 10th Percentile Salary   31,000.00
Mid-Career 90th Percentile Salary   96,400.00
Group                                    HASS
Name: 49, dtype: object

### What is the Lowest Risk Majors?

A low-risk major is a degree where there is a small difference between the lowest and highest salaries.

If the difference between the 10th percentile and the 90th percentile earnings of your major is small, then you can be more certain about your salary after you graduate.

In [75]:
# create a new column for the difference between the 10th and 90th Mid-Career Percentile Salary
data['Risk Potential'] = data['Mid-Career 10th Percentile Salary'] - data['Mid-Career 90th Percentile Salary']
# print the row with the lowest risk
data.loc[data['Risk Potential'].idxmin()]

Undergraduate Major                   Economics
Starting Median Salary                50,100.00
Mid-Career Median Salary              98,600.00
Mid-Career 10th Percentile Salary     50,600.00
Mid-Career 90th Percentile Salary    210,000.00
Group                                  Business
Risk Potential                      -159,400.00
Name: 17, dtype: object

Economics is the lowest risk major.

In [76]:
# The top 5 majors with lowest risk area:
data.sort_values(['Risk Potential'], ascending=True).head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group,Risk Potential
17,Economics,"50,100.00","98,600.00","50,600.00","210,000.00",Business,"-159,400.00"
22,Finance,"47,900.00","88,300.00","47,200.00","195,000.00",Business,"-147,800.00"
37,Math,"45,400.00","92,400.00","45,200.00","183,000.00",STEM,"-137,800.00"
36,Marketing,"40,800.00","79,600.00","42,100.00","175,000.00",Business,"-132,900.00"
42,Philosophy,"39,900.00","81,200.00","35,500.00","168,000.00",HASS,"-132,500.00"

In [77]:
# The top 5 majors with the highest Mid-Career 90th Percentile Salary
data.sort_values(['Mid-Career 90th Percentile Salary'], ascending=False).iloc[:5, [0, 4]]

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                         210,000.00
22               Finance                         195,000.00
8   Chemical Engineering                         194,000.00
37                  Math                         183,000.00
44               Physics                         178,000.00

### Which category of degrees has the highest average salary?

* Is it STEM, Business or HASS (Humanities, Arts, and Social Science)?

In [78]:
# the average salary of each degree category
pd.options.display.float_format = '{:,.2f}'.format # set the values to 2 decimal places
data.iloc[:, :-1].groupby('Group').mean()

,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,
Business,"44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"53,862.50","90,812.50","56,025.00","157,625.00"